$black: #000000;
$white: #ffffff;
$main: #403432;
$hover: #776763;
$hover-light: #8d7978;
$disabled: #c1b4b1;
$in-cart: #5b3a32;
$bg-dark: #eceaea;
$bg-light: #f6f3f3;
$border-light: #e1e1e1;
$border: #b5b5b5;


$text-brown: #343030;
$text-light-grey: #9f9f9f;
$text-dark-brown: #555555;
